<ng-container *ngIf="number">
  <header>
  </header>
  <h2>RADIOLOGICUM</h2>
  <h1>{{ number.number }}</h1>
  
  <img
    src="assets/img/separation.png"
    class="separation"
    alt="Trennung"
    (load)="onImgLoaded($event)"
  />
  <footer>
    <figure *ngIf="showQrCode">
      <figcaption>{{ "Ticket_AppHeader" | translate }}</figcaption>
      <qrcode
        [qrdata]="getAppLink(number)"
        [margin]="0"
        [width]="1600"
      ></qrcode>
    </figure>
 <!--<img
      src="assets/img/customerlogo.png"
      class="customerlogo"
      alt="logo"
      (load)="onImgLoaded($event)"
    />-->
    <p>{{ now | date: "shortTime":undefined:locale}} Uhr</p>
    <p>{{ now | date: "mediumDate":undefined:locale }}</p>
  </footer>
</ng-container>
