:host {
  display: block;
  /* paper: 448dots / 58mm, paper-margin 1mm */
  /* complete drawing width of printer: 228px */
  box-sizing: border-box;
  width: 228px;

  /* printer adds 2mm left/right padding automatically */
  padding: 4mm 2mm;

  background-color: white;
  color: black;
  text-align: center;
}
header {
  font-size: 14px;
}
h1 {
  font-size: 40px;
  margin: 2mm 0;
}
.customerlogo {
  width: 80%;
}
img {
  width: 100%;
}

footer {
  text-align: left;
  font-size: 1rem;

  & > * {
    flex: 1;
  }
  figcaption {
    font-size: 10px;
    text-align: center;
    padding: 1mm 8mm;
  }

  qrcode {
    display: block;
    padding: 1mm 11mm;
  }

  p {
    padding: 2mm 0mm 2mm 11mm;
    float: left;
    font-size: 12px;
  }
  p:last-child {
    float: right;
    padding: 2mm 11mm 2mm 0mm;
  }
}
