
:host {
  display: block;
  /* paper: 448dots / 58mm, paper-margin 1mm */
  /* complete drawing width of printer: 220px */
  width: 56mm;

  color: black;
  text-align: center; 
}
header{ 
  font-size: 12px;
}
h1 {
  font-size: 40px;
}
img {
  width: 100%;
}

footer {
  display: flex;
  align-items: center;
  gap: 5mm;
  &>* {
    flex: 1;
  }
}
figcaption {
  font-size: 12px;
}
qrcode {
  margin-top: 2px;
}
