
:host {
  display: block;
  /* paper: 448dots / 58mm, paper-margin 1mm */
  /* complete drawing width of printer: 228px */
  box-sizing: border-box;
  width: 228px;
  padding: 1mm;

  background-color: white;
  color: black;
  text-align: center;
}
header{ 
  font-size: 14px;
}
h1 {
  font-size: 40px;
  margin: 5mm 0;
}
img {
  width: 100%;
}

footer {
  display: flex;
  align-items: center;
  padding: 2mm;
  gap: 2mm;
  &>* {
    flex: 1;
  }
  figcaption {
    font-size: 12px;
    margin-bottom: 5px;
  }
}
