
/*
 * Main style file for app
 */
@import "colors.scss";


/* overwrite defaults */
html, body, h2, h3, article, h4
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* global layout */
html, body
{
    background-color: $color-common-background;
    color: $color-common-foreground;
    font-size: 3vh;
    font-family: Verdana, "Lucida Sans Unicode", sans-serif
}
header
{
    background-color: $color-primary-background;
    color: $color-primary-foreground;
    height: 15vh;
}
.plattform
{ 
    width: 3%;
    margin: 10vh 15vw;
    position: absolute;
    opacity: 1;
}
img
{
    width: 5vh;
    margin: 10vh 2vw 0vh 2vw;
    opacity: 0.2;
}

h1
{
    font-size: .65rem;
    position: absolute;
    margin: 10vh 20vw;
    max-width: 70%;
}
section.logo
{
    height: 10vh;
}


#error
{
    margin: 0vh 15vw;
    height: 50vh;
    background-color:$color-highlight-background;
    color: $color-primary-foreground;

    >h2
    {
        text-align: center;
        font-size: 1.25rem;
        font-weight: bold;
        padding: 8vh 2vw;  
     }

    p
    {
        text-align: center;
        font-size: 0.75rem;
        padding: 3vh 2vw; 
    }

    #three
    {
        text-align: center;
        font-size: 0.5rem;
        font-weight: bold;
        padding: 5vh 2vw; 
    } 
}


section.main
{
        margin: 0 15vw;
        height: 60vh;
        h2 
        {
            text-align: right;
            font-size: 0.75rem;
            line-height: 2vh;
            padding: 2vh 3vw;

            color: $color-primary-foreground;
            background-color: $color-primary-background;
        }
        article   
        {
             /* personenanzahl */
            svg
            {
            width: 25%;
            float: right;
            padding: 0vh 2vw;
            .cls-1{fill:$color-secondary-foreground;}
            .cls-2{font-size:1em; fill:$color-highlight-foreground;}
            }
    
            position: absolute;
            width: 100%;
            font-size: 0.45rem;
            max-width: 65%;
            font-weight: normal;
            color:$color-secondary-foreground;
            padding: 2vh 3vw; 
        } 
    
        #bold
        {
            font-weight: bold;
        }
        
        #three
        {
            padding: 15vh 0vw 1vh 0vw;   
        }
    
    
        div.posinfo
        {
            height: 22vh;
            padding: 2vh 2vw;
            background-color: $color-secondary-background;
            color: $color-secondary-foreground;
        }
    
        div.notch 
        {
            position: absolute;
            left: 60%;
            svg 
            {
             fill:$color-secondary-background;    
            }
        }
        div.number
        {
            height: 22vh;
            padding: 2vh 2vw;
            background-color: $color-primary-background;
            color: $color-primary-foreground;
    
            h3
            {   
            text-align: left;
            line-height: 3vh;
            max-width: 60%;
            font-size: 0.5rem;
            font-weight: normal;
            padding: 0vh 1vw; 
            }
    
            h4
            {
                text-align: center;
                font-size: 2rem;
                line-height: 3vh;
                padding: 5vh 1vw 5vh 1vw; 
            }
        }
            h5
            {
                position: absolute;
                text-align: left;
                font-size: 0.45rem;
                text-align: center;
                margin: 2% 0% 0% 0%;
            }
        
}
section.wait01
{
        margin: 0 15vw;
        height: 60vh;
        h2 
        {
            text-align: right;
            font-size: 0.75rem;
            line-height: 2vh;
            padding: 2vh 3vw;
            line-height: 2vh;
            color: $color-primary-foreground;
            background-color: $color-primary-background;
        }
        article   
        {
             /* personenanzahl */
            svg
            {
            width: 25%;
            float: right;
            padding: 2vh 3vw;
            .cls-1{fill:$color-secondary-foreground;}
            .cls-2{font-size:1em; fill:$color-highlight-foreground;}
            }
    
            position: absolute;
            width: 100%;
            font-size: 0.45rem;
            max-width: 65%;
            font-weight: normal;
            color:$color-secondary-foreground;
            padding: 2vh 3vw; 
        } 
    
        #bold
        {
            font-weight: bold;
        }
        
        #three
        {
            padding: 8vh 0vw 1vh 0vw;   
        }
    
    
        div.posinfo
        {
            height: 22vh;
            padding: 2vh 2vw;
            background-color: $color-secondary-background;
            color: $color-secondary-foreground;
        }
    
        div.notch 
        {
            position: absolute;
            left: 60%;
            svg 
            {
             fill:$color-secondary-background;    
            }
        }
        div.number
        {
            height: 22vh;
            padding: 2vh 2vw;
            background-color: $color-primary-background;
            color: $color-primary-foreground;
    
            h3
            {   
            text-align: left;
            line-height: 3vh;
            max-width: 60%;
            font-size: 0.5rem;
            font-weight: normal;
            padding: 0vh 1vw; 
            }
    
            h4
            {
                text-align: center;
                font-size: 2rem;
                line-height: 3vh;
                padding: 5vh 1vw 5vh 1vw; 
            }
        }
            h5
            {
                position: absolute;
                text-align: left;
                font-size: 0.45rem;
                text-align: center;
                margin: 2% 0% 0% 0%;
            }
        
}

section.room
{
    margin: 0 15vw;
    height: 60vh;
    h2 
    {
        text-align: right;
        font-size: 0.65rem;
        line-height: 3vh;
        padding: 3vh 3vw;
        color: $color-primary-foreground;
        background-color: $color-primary-background;
    }
    article   
    {
         /* personenanzahl */
        svg
        {
            width: 25%;
            float: right;
            padding: 0vh 2vw;
            .cls-1{fill:$color-secondary-foreground;}
            .cls-2{font-size:1em; fill:$color-highlight-foreground;}
        }
    
        position: absolute;
        width: 100%;
        font-size: 0.45rem;
        max-width: 65%;
        font-weight: normal;
        color:$color-secondary-foreground;
        padding: 0vh 3vw; 
            
        h3
        {
            font-size: 0.75rem;
            text-align: center;
            padding: 4vh 0vw 1vh 0vw; 
        } 
       
    }  
    #place
    {
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        padding: 4vh 0vw 1vh 0vw;
    }
   
    #bold
    {
        font-weight: bold;
    }
        
    #three
    {
        padding: 5vh 0vw 1vh 0vw;   
    }

    
    
    div.posinfo
    {
        height: 22vh;
        padding: 2vh 2vw;
        background-color: $color-secondary-background;
        color: $color-secondary-foreground;
    }
    
    div.notch 
    {
        position: absolute;
        left: 60%;
        svg 
        {
             fill:$color-secondary-background;    
            }
    }
    div.number
    {
        height: 22vh;
        padding: 2vh 2vw;
        background-color: $color-primary-background;
        color: $color-primary-foreground;
    
        h3
        {   
            text-align: left;
            line-height: 3vh;
            max-width: 60%;
            font-size: 0.5rem;
            font-weight: normal;
            padding: 0vh 1vw; 
        }
    
        h4
        {
            text-align: center;
            font-size: 2rem;
            line-height: 3vh;
            padding: 5vh 1vw 5vh 1vw; 
        }
    }
}

section.danke
{   margin: 0 15vw;
    height: 60vh;
    h2 
    {
        text-align: right;
        font-size: 0.65rem;
        line-height: 2vh;
        padding: 2vh 3vw;

        color: $color-primary-foreground;
        background-color: $color-primary-background;
    }
    article   
    {
         /* personenanzahl */
        svg
        {
        width: 25%;
        float: right;
        padding: 0vh 2vw;
        .cls-1{fill:$color-secondary-foreground;}
        .cls-2{font-size:1em; fill:$color-highlight-foreground;}
        }

        position: absolute;
        width: 100%;
        font-size: 0.45rem;
        max-width: 65%;
        font-weight: normal;
        color:$color-secondary-foreground;
        padding: 0vh 3vw; 
        
        h3
        {
        font-size: 0.75rem;
        text-align: center;
        padding: 10vh 0vw 1vh 0vw; 
        }
    } 

    #bold
    {
        font-weight: bold;
    }
    
    #three
    {
        padding: 8vh 0vw 1vh 0vw;   
    }


    div.posinfo
    {
        height: 22vh;
        padding: 2vh 2vw;
        background-color: $color-secondary-background;
        color: $color-secondary-foreground;
    }

    div.notch 
    {
        position: absolute;
        left: 60%;
        svg 
        {
         fill:$color-secondary-background;    
        }
    }
    div.number
    {
        height: 22vh;
        padding: 2vh 2vw;
        background-color: $color-primary-background;
        color: $color-primary-foreground;

        h3
        {   
        text-align: left;
        line-height: 3vh;
        max-width: 60%;
        font-size: 0.5rem;
        font-weight: normal;
        padding: 0vh 1vw; 
        }

        h4
        {
            text-align: center;
            font-size: .75rem;
            line-height: 3vh;
            padding: 5vh 1vw 5vh 1vw; 
        }
    }
  
        
}      
/* fehlermeldung */
#error
{
    background-color: red;
}

footer
{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    height: 5vh;
    margin: 2vh 15vw;
}