
/*
 * Main style file for app
 */
@import "colors.scss";


/* overwrite defaults */
html, body, h1, h2
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* global layout */
html, body
{
    background-color: $color-common-background;
    color: $color-common-foreground;
    font-size: 3vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

header
{
    background-color: $color-primary-background;
    color: $color-primary-foreground;
    height: 15vh;
    text-align: center;
    line-height: 15vh;
}

section.logo
{
    height: 10vh;
}

section.main
{
    margin: 0 15vw;
    height: 60vh;

    h1 
    {
        text-align: right;
        text-transform: uppercase;
        font-size: 1rem;
        line-height: 4vh;
        padding: 2vh 2vw;
        height: 4vh;
        background-color: $color-primary-background;
        color: $color-primary-foreground;
    }

    div.posinfo
    {
        height: 22vh;
        padding: 2vh 2vw;
        background-color: $color-secondary-background;
        color: $color-secondary-foreground;
    }

    div.notch 
    {
        position: absolute;
        left: 60%;
        svg 
        {
            fill:$color-secondary-background;    
        }
    }
    div.number
    {
        height: 22vh;
        padding: 2vh 2vw;
        background-color: $color-primary-background;
        color: $color-primary-foreground;

        h2
        {
            text-align: center;
            font-size: 4rem;
            line-height: 19vh;
        }
    }
}

footer
{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    height: 13vh;
    padding: 1vh 1vw;
}
