
/* All colors defined here */
$color-primary-background: rgb(0, 127, 200);
$color-primary-foreground: white;
$color-secondary-background: grey;
$color-primary-background: rgb(0, 127, 200);
$color-secondary-foreground: black;
$color-highlight-background: red;
$color-highlight-foreground: white;
$color-common-background: $color-primary-foreground;
$color-common-foreground: $color-primary-background;
