
body.printer 
{
    header
    {
    display: block;
    margin: 0 15vw;
    height: 20vh;
    width: 100%;
    
    svg
	{
        height: 20vh;
    }

    .plattformlogo 
    { 
        float: left;
        height:80%;
    }

    h1 
    {
        float: right;
        position: absolute;
        text-transform: uppercase;
        font-weight: 900;
        margin: 21% 10% 0%;
        width: 60%;
    } 
   

    clear: both;
    display: block;
    }

    
    
    

    section.info
    {
        height: 10vh;
    }

    main, .main
    {
        position: relative;
        margin: 0 15vw;

        section
        {
            position: absolute;
            width: 100%;
            height: 70vh;
            background-color: $color-common-background;
        }
    
        section#idle
        {
            ul, li
            {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            ul.buttons-1
            {
                li
                {
                    height: 40vh;
                }
            }
            ul.buttons-2, ul.buttons-3
            {

            }
            ul.buttons-4, ul.buttons-5, ul.buttons-6
            {

            }
            .btn
            {
                
                display: block;
                margin: 2vh 0;

                div
                {
                    height: 8vh;
                    float:left;

                    h2
                    {
                        text-align: center;
                        font-weight: bold;
                        font-size: 2.5em;
                    }
                    svg, .notch
                    {
                        position: absolute;
                        margin-top: 2vh;
                        fill: $color-common-background;
                    }
                    path
                    {
                    width: 5%;
                    }
                   
                    &:first-child
                    {
                        width: 0%;
                    }
                    &:nth-child(2)
                    {
                        width: 75%;
                        text-align: center;
                        line-height: 8vh;
                        font-weight: bold;
                        font-size: 1.5em;
                        background-color: $color-secondary-background;
                        color: $color-secondary-foreground;
						box-shadow: 1px 3px 1px $color-secondary-shadow;
                    }

                    img.personanzahl

                    {
                        float: right;
                        position: absolute;
                        width: 6%;
                        padding: 0% 1% 1% 1%;
                    }
                    &:last-child
                    {
                        width: 25%;
                        padding: 3% 10% 1% 3%;
                        float: left;
                        font-size: 0.5em;
                        background-color: $color-primary-background;
                        color: $color-primary-foreground;
                        box-shadow: 1px 3px 1px $color-primary-shadow;
                        box-sizing: border-box;
                    }
                }

                &:after
                {
                    content: "";
                    clear: both;
                    display: block;
                }

            
           




            }
        }
    }

    footer
    {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    }
}