

/* 
 * ticket should be hidden, on screen,
 * but when print out it's the only content visible
 */
   
@media screen
{ 
    body>.print_ticket { display: none; }
}

@media print
{
    body>*:not(.print_ticket) { display: none !important; } 
}

    section.ticket
    {   display: block;
        margin: 5vh 5vw;
        max-height: 100vh;
        background-color:$color-highlight-foreground;
        p
        {
            font-size: 18px;
            text-align: center;
        }
      
    
        h1
        {
            text-align: center;
            font-size: 80px;
        }
        .separation
        {
            width: 90%;
            padding: 3mm;
        }
        h4
        {
            font-size: 1em;
            font-weight:regular;
        }
        .qrcode
        {
            height: 25mm;
            padding: 5mm;
            float: left;
        }
        img.customerlogo
        {
            height: 25mm;
            float: right;
            padding: 5mm;
        }
    }