@import "colors.scss";

:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: grid;
  grid-template-rows: 16vh 1fr auto 10vh;
}

header {
  margin: 0 15vw;
  display: flex;
  align-items: baseline;
  gap: 3vw;

  color: $color-primary-shadowred;

  img {
    height: 100%;
  }
  h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: clamp(4.5em, calc(1em + 1vw), 6em);
  }
}

h2 {
  margin: 0 15vw;
  font-size: 2em;
  color: $color-primary-background;
  font-weight: normal;
}

table {
  margin: 5vh 15vw 0vh 15vw;
  border-collapse: separate;
  border-spacing: 0 2vh;

  td {
    background-color: $color-secondary-background;
    color: $color-secondary-foreground;
    box-shadow: 0.052vh 0.156vh 0.052vh $color-secondary-shadow;

    font-size: 3.5rem;
    padding: 0vh 3vw;
  }

  /* termin */
  img {
    height: 0.8em;
  }
  td:nth-child(2) {
    font-weight: bold;
    text-align: right;
  }
  td:nth-child(3) {
    width: 65%;
  }

  tr.highlight td {
    background-color: $color-primary-background;
    color: $color-primary-foreground;
  }
}
/*--- Layout: 1-2 Aufrufe ---*/
.buttons-1,
.buttons-2 {
  margin: 15vh 15vw 10vh 15vw;
  tr {
    td {
      font-size: 5rem;
      padding: 2vh 3vw;
    }
  }
}
/*--- Layout: 3-5 Aufrufe ---*/
.buttons-3,
.buttons-4,
.buttons-5 {
  margin: 10vh 15vw 3vh 15vw;
  tr {
    td {
      font-size: 5rem;
    }
  }
}
footer {
  padding: 3vh 3vw;
  align-self: end;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  color: $color-secondary-foreground;
  font-size: 2.5rem;

  h5 {
    font-weight: normal;
  }
  h5:first-child {
    text-align: left;
  }
  h5:last-child {
    text-align: right;
  }

  /* designo logo */
  .logo {
    height: 1em;
    fill: #e3e3e3;
    justify-self: center;
  }
}
