<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Vocatis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#317EFB"/>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="@Href("app.css")" type="text/css" rel="stylesheet" />
</head>
<body>
  <header>
  > Wartezeit Live-Abfrage
</header>

<section class="logo">
  <img src="about:blank" />
</section>

<section class="main">
  <h1>%Warteschlange%</h1>
  <div class="posinfo"></div>
  <div class="notch"><svg xmlns="http://www.w3.org/2000/svg"><g><path d="M 0.0,0.0 20.0,20.0 40.0,0.0 Z" /></g></svg></div>
  <div class="number">
    Ihre Wartemarke:
    <h2>52</h2>
  </div>
</section>


<footer>
  Footer
</footer>
</body>
</html>
