@using iSign
@using Stolltec.Vocatis.Model
@{
    dynamic id = CommonGuidId.FromString(Request["id"]);
    var ticket = Vocatis.GetTicket(id);
    var status = Vocatis.GetTicketStatus(id);
}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Vocatis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#317EFB"/>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="@Href("app.css")" type="text/css" rel="stylesheet" />
</head>
<body>
  <header>
 <img src="plattform_01.png" class="plattform" alt="plattform">
 <h1>Wartezeit Live-Abfrage</h1>
</header>

<section class="logo">
  <img src="about:blank" />
</section>

<section class="main">

  <h2>Warteschlange</h2>
  <article>
   Es  befinden sich noch 10 Kunden vor Ihnen in der Warteschlange.<br><br> 
   Ihre voraussichtliche Wartezeit beträgt ca. 50 Minuten. 
   <br><br><br><br><br><br><br>
   STAND: 13:50 Uhr</article>  

<div class="posinfo"></div>
<div class="notch"><svg xmlns="http://www.w3.org/2000/svg"><g><path d="M 0.0,0.0 10.0,10.0 20.0,0.0 Z" /></g></svg></div>
<div class="number">
<h3>Ihre Wartemarke:</h3>
  <h4>@ticket.Number</h4>
  </div>
</section>

<!--
Position: @status.Position
Wartezeit: @status.EstimatedTimeOfCall
-->

<footer>
  Footer
</footer>
</body>
</html>
