<div class="site-content">
  <h2>{{ "Entry_Header1" | translate }}</h2>
  <h3>{{ "Entry_Header2" | translate }}</h3>
</div>
<textarea
  id="scan"
  (keydown)="onScanInput($event)"
  fixedfocus
  spellcheck="false"
></textarea>

<nav class="site-nav">
  <h3>{{ "SelectMode_Info" | translate }}</h3>
  <a [routerLink]="appointmentRoute" queryParamsHandling="preserve">{{
    "Entry_SelectAppointment" | translate
  }}</a>
  <a [routerLink]="queueRoute" queryParamsHandling="preserve">{{
    "Entry_SelectTicket" | translate
  }}</a>
</nav>
