@import "colors.scss";
@import "mixins.scss";

.site-content {
  @include panel;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;

  h2 {
    text-transform: uppercase;
    font-size: 5.5rem;
  }
  h3 {
    font-size: 3em;
  }
}
.site-nav {
  display: flex;
  margin: 5vh 0;
  gap: 10vw;
  a {
    flex: 1;
    border: 3px solid $color-common-foreground;
    color: $color-common-foreground;
    padding: 2vh 2vw;
    font-size: 2.5em;
  }
  a:hover {
    background-color: $color-primary-background;
    color: $color-primary-foreground;
  }
}