@import "colors.scss";
@import "mixins.scss";

h2 {
  text-transform: uppercase;
}

.site-content {
  @include panel;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8vh;
}

.site-nav {
  margin: 0 $hmargin;
  a {
    margin: 1vh 0;

    @include nav-button;
  }
}
