@using Stolltec.Forms.Model
@{
    var Model = new FormsModel(this);
}
<!DOCTYPE html>
<html>
<head>
    <title>Vocatis</title>
    <link href="@Href("Vocatis.css")" type="text/css" rel="Stylesheet" />
</head>
<body class="ticket">
    <p>
        @DateTime.Now.ToString("dd.MM.yyyy  HH:mm") Uhr
    </p>
    <img runat="server" src="logo.jpg" />
    <h1>
        @Model.Style["ticketnumber"].Value
    </h1>
    <p>
        Bitte warten Sie, bis Ihre Nummer auf dem Bildschirm erscheint!
    </p>
    <script type="text/javascript">
    window.onload = function () {
        window.focus();
        window.print();
        // remove this line for testing:
        window.setTimeout(function () { window.close() }, 1000);
    };
    </script>
</body>
</html>
    
