
/* redefine defaults */
* {  margin: 0; padding: 0; border:none; overflow:hidden; }
    
html { height: 100%; }
body
{
	/* fill complete frame */
    height: 100%;
   
    /* text */
    font-family: Futura, Arial, sans-serif;
    
    /* background */
    background-color: white;
}




/* printer */

.printer
{
    height: 100%;
    width: 100%;
    position:fixed;
    text-align:center;
}
.printer h1 { font-size: 38px;}
.printer>h1
{
     margin: 140px 139px 70px 139px;
}
.printer>#start
{
	display:block;
    margin: 70px 310px 0 310px; 
    background-color: #0084E1;
	text-decoration:none;
    
}
.printer>#start>span
{
	display:block;
    padding: 45px 0 0 0;
    color:White;
    height: 99px;
    width:100%;
    font-size: 52px;
}

.printer popup
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: White;
}

.printer .popup h1
{
    text-align: left;
    float:left;
    margin: 140px 0 70px 139px;    
}
.printer .popup img 
{
    float:right;
    margin: 300px 139px 0 0;    
}



.ticket
{
    width: 56mm; font-family: Arial; font-size: 4mm; text-align: center;
}

.ticket img 
{
    float: right;
}

.ticket div
{
    font-size: 16mm; clear: both;
}