@import "colors.scss";
@import "mixins.scss";

.buttons {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 15vw;
  &.buttons-2 {
    margin: 12vh 15vw 20vh 15vw;
  }
  &.buttons-3,
  &.buttons-4 {
    margin: 10vh 15vw 10vh 15vw;
  }
  display: grid;
}

.buttons-1 {
  gap: 15%;
  grid-template-rows: 1fr 30% 20%; /* respect gaps! */
  justify-items: center;
  align-items: center;
  margin: 10vh 15vw 5vh 15vw;

  &.closed {
    color: $color-secondary-foreground;

    .single-button {
      background-color: $color-secondary-foreground;
    }
  }

  h5 {
    font-size: 5rem;
    text-align: center;
  }

  h6 {
    font-size: 4rem;
    text-align: center;
    color: $color-highlight-background;
  }

  .single-button {
    box-sizing: border-box;
    aspect-ratio: 1;
    height: 100%;
    border: solid 1vh;
    padding: 2vh;
    border-radius: 50%;
    background-clip: content-box;
    background-color: $color-common-foreground;
  }

  .button-with-qr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20vw;
  }

  .queue-status {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-auto-flow: column;
    gap: 1vh 5vw;

    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: $color-secondary-foreground;

    & > * {
      justify-self: center;
    }
    svg {
      height: 100%;
    }
  }

  svg.person {
    fill: $color-secondary-foreground;

    .cls-2 {
      fill: $color-secondary-background;
    }
  }

  svg.clock {
    fill: $color-secondary-foreground;
  }
}

.buttons:not(.buttons-1) {
  grid-auto-rows: 1fr;
  gap: 2vh 2vw;

  &.buttons-2,
  &.buttons-3 {
    gap: 5vh 2vw;
  }

  &.with-qr-code {
    grid-template-columns: 1fr 10vw;
    grid-template-rows: auto;
    text-align: center;
    font-size: 1.3rem;
    > span:first-child {
      justify-self: end;
      width: 21vw;
    }
  }

  qrcode {
    align-self: center;
  }

  .btn {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 21vw;
    background-color: $color-secondary-background;
    color: $color-secondary-foreground;
    text-align: center;

    &.open {
      box-shadow: 1px 3px 1px $color-secondary-shadow;
    }

    & > h5 {
      flex-grow: 1;
      align-self: center;
      font-weight: bold;
      font-size: 3.3rem;
    }

    & > div {
      /* all status */
      font-weight: bold;
      font-size: 1rem;
      padding: 0.5vh 0.5vw;
      gap: 0.5vh 0.5vw;
      overflow: hidden;
    }
    &.closed > div {
      background-color: $color-highlight-background;
      color: $color-highlight-foreground;

      display: flex;
      align-items: center;
      justify-content: center;
    }
    & > div.queue-status {
      display: grid;
      &:not(.queue-status-columns) {
        grid-template-rows: 4fr 3fr;
        grid-auto-flow: column;
        padding-top: 2vh;
        font-size: 1.2rem;
      }
      &.queue-status-columns {
        grid-template-columns: 4fr 2fr;
        grid-auto-flow: row;
        padding-top: 0.5vh;
      }

      & > * {
        overflow: hidden;
        max-height: 100%;
        max-width: 100%;
      }

      align-items: center;
      justify-items: center;

      background-color: $color-primary-background;
      color: $color-primary-foreground;
      fill: $color-common-foreground;
    }
    &.next-one > .queue-status svg.person {
      opacity: 0.5;
      .cls-2 {
        display: none;
      }
    }
  }

  svg.person,
  svg.clock {
    fill: $color-primary-foreground;
    .cls-2 {
      fill: $color-primary-background;
      font-size: 2rem;
    }
  }
}
