@*
  Printer navigation level 1
  Select appointment
*@
@using System.Web.Optimization
@using Stolltec.Forms.Model
@{
  // Parse model
  var Model = new FormsModel(this);

  // setup layout
  PageData["model"] = Model;
  PageData["show_home"] = true;
  PageData["show_back"] = false;
  Layout = "PL_Layout.cshtml";
}

<div id="stage1">
  <img src="direction.png" alt="direction">
  <p>Bitte scannen Sie den QR-Code aus Ihrer Terminbestätigung!</p>
  <input id="scan">
</div>

@* Qr code scanning *@
<script type="text/javascript">
  $('#scan').on("change", function() {
    var url = '@Html.Raw(Model.Navigate("P2_Appointment.cshtml", new { a="--text--"}))';
    window.location.href = url.replace("--text--", $("#scan").val());
  }).blur(function() {
    window.setTimeout(function () { $("#scan").focus(); }, 20);
  }).focus();
</script>
