@using iSign
@using Stolltec.Vocatis
@using Stolltec.Vocatis.Model
@{
    dynamic queueid = CommonGuidId.FromString(Request["queueid"]);
    dynamic catids = GuidIdsFieldInstance.ParseValue("",Request["catid"]).Value;
}
<!DOCTYPE html>
<html>
<head>
    <title>Vocatis</title>
    <link href="@Href("css/site.css")" type="text/css" rel="Stylesheet" />
</head>
<body class="ticket">
<header>
    @DateTime.Now.ToString("dd.MM.yyyy  HH:mm") Uhr 
</header>
<img src="logo.png" />
<h1>
    @Vocatis.CreateTicket(queueid, catids).Number
</h1>
<footer>
    Bitte warten Sie, bis Ihre Nummer auf dem Bildschirm erscheint!
</footer>
</body>
</html>