/*
 * Style main file for player content
 */

@import "colors.scss";

html
{
    font-family:Arial, Verdana, Geneva,Tahoma,sans-serif;
    color: $color-common-foreground;
    background-color: $color-common-background;
}

/* Set base font-size */
html {
    font-size: 1.48vh; /* 16px / 1080px */
    @media only screen and (orientation: portrait) {
        font-size: 0.83vh; /* 16px / 1920px */
    }

    svg {
        font-size: initial;
    }
}

body
{
    margin: 0;
}

a
{
    text-decoration: none;
}

@import "printer.scss";
@import "ticket.scss";