@import "colors.scss";
@import "mixins.scss";

section {
  @include panel;
  display: flex;
  flex-direction: column;

  & > * {
    margin: auto 0;
  }
  img.wait {
    width: 25%;
    opacity: 0.5;
    margin: auto;
  }

  svg {
    width: 13%;
    fill: $color-secondary-foreground;
  }

  h3 {
    font-size: 2.5em;
    font-weight: normal;
    img {
      vertical-align: baseline;
      height: 2em;
      padding-right: 0.5em;
    }
  }

  p {
    font-size: 3.5rem;
    line-height: 5rem;
  }

  .number {
    font-size: 4em;
  }
}

h4 {
  padding-top: 8vh;
  font-size: 3em;
  text-align: center;
}
