@import "colors.scss";
@import "mixins.scss";

section {
  @include panel;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > * {
    margin: auto;
  }
  img.wait {
    width: 25%;
    opacity: 0.5;
  }
  img {
    width: 13%;
  }
  svg {
    width: 13%;
    fill: $color-secondary-foreground;
  }
  p {
    font-size: 2em;
    font-weight: 600;
    color: $color-primary-background;
  }

  .number {
    font-size: 4em;
  }
}

h4 {
  padding-top: 8vh;
  font-size: 3em;
  text-align: center;
}
