<!-- wait popup is shown, while generating a new number -->
<section *ngIf="ticket.state == 'wait' || ticket.state == 'take'" id="waitPopup">
  <h3 *ngIf="ticket.view != ''" ><img src="assets/img/registration.png" alt="registration"/>Ihr Check-In war erfolgreich!</h3>
  <p *ngIf="ticket.view != ''">Bitte nehmen Sie im Wartebereich Platz und warten auf den Aufruf der Wartenummer über den Monitor</p>
  <img src="assets/img/wait.gif" class="wait" alt="wait" />
</section>

<h4 *ngIf="ticket.state == 'wait'">{{ "Print_WaitText" | translate }}</h4>
<h4 *ngIf="ticket.state == 'take'">{{ "Print_TakeText" | translate }}</h4>

<!-- show popup shows the number on the screen -->
<section *ngIf="ticket.state == 'show'" id="showPopup">
  <h3 *ngIf="ticket.button?.queue">{{ "Print_ShowHeader" | translate }}</h3>
  <h2>{{ ticket.button?.title }}</h2>
  <p>{{ "Print_ShowText1" | translate }}</p>
  <div class="number">{{ ticket.current?.number }}</div>
  <p>{{ "Print_ShowText2" | translate }}</p>
</section>
