@* 
 *  Copyright (C) 2023 DE SIGNO GmbH
 *  
 *  This program is dual licensed. If you did not license the program under
 *  different terms, the following applies:
 *  
 *  This program is free software: You can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *  
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *  
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *  
 *@
<!doctype html>
@using Stolltec.Forms.Model
@{
  var relPath = "./"; 
  // Parse model
  var model = new FormsModel(this);
  var tracking_id = model.Style.StyleInstance["tracking_id"];
  var printerStatusUrl = Href(Stolltec.Forms.PrinterStatus.Path);
}
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>Vocatis Drucker</title>
  <base href='@Href(relPath)'>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
</head>
<body>
  <script type="text/javascript">
    window.hostOptions = { 
      printerStatusUrl: "@Html.Raw(printerStatusUrl)"
    };
  </script>
  <app-root></app-root>
  @if (tracking_id != null && !String.IsNullOrEmpty((string)tracking_id.Value)) {
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=@((string)tracking_id.Value)"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '@((string)tracking_id.Value)');
    </script>
  }
</body>
</html>
