$hmargin: 10vw;

@mixin panel {
  background-color: $color-secondary-background;
  color: $color-secondary-foreground;
  height: 50vh;
  padding: 0 $hmargin;
}

@mixin nav-button {
  /* common style for navigation buttons */
  display: block;
  border: 0.3rem solid $color-common-foreground;
  color: $color-common-foreground;
  padding: 1.5vh 1.5vw;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;

  &:hover {
    background-color: $color-primary-background;
    color: $color-primary-foreground;
  }
}
