@import "colors.scss";
@import "mixins.scss";

ul {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 10vw;

  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 2vw 2vh;

  font-weight: bold;
  font-size: 3.3rem;

  &.buttons-2,
  &.buttons-3 {
    gap: 5vh 2vw;
  }
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: $color-secondary-background;
  color: $color-secondary-foreground;
  box-shadow: 1px 3px 1px $color-secondary-shadow;
}
