<ng-container [ngSwitch]="state">
  <ng-container *ngSwitchCase="''">
    <h1>{{ "Appoint_Loading" | translate }}</h1>
  </ng-container>
  <ng-container *ngSwitchCase="'invalid'">
    <img src="assets/img/error.png" id="error" alt="error" />
    <h3> {{ "Appoint_InvalidHeader" | translate }}</h3>
    <p>{{ "Appoint_InvalidText" | translate }}</p>
    <p>{{ errorInfo }}</p>
  </ng-container>
  <ng-container *ngSwitchCase="'notfound'">
    <img src="assets/img/error.png" id="error" alt="error" />
    <h3> {{ "Appoint_NotFoundHeader" | translate }}</h3>
    <p>{{ "Appoint_NotFoundText" | translate }}</p>
    <p>{{ errorInfo }}</p>
  </ng-container>
  <ng-container *ngSwitchCase="'notfound_early'">
    <img src="assets/img/error.png" id="error" alt="error" />
    <h3> {{ "Appoint_NotFoundEarlyHeader" | translate }}</h3>
    <p>{{ "Appoint_NotFoundEarlyText" | translate: {date: aptDate | date: 'longDate':undefined:locale, time: aptDate | date: 'shortTime':undefined:locale}  }}</p>
    <p>{{ errorInfo }}</p>
  </ng-container>
  <ng-container *ngSwitchCase="'notfound_late'">
    <img src="assets/img/error.png" id="error" alt="error" />
    <h3> {{ "Appoint_NotFoundLateHeader" | translate }}</h3>
    <p>{{ "Appoint_NotFoundLateText" | translate: {date: aptDate | date: 'longDate':undefined:locale, time: aptDate | date: 'shortTime':undefined:locale}  }}</p>
    <p>{{ errorInfo }}</p>
  </ng-container>
  <ng-container *ngSwitchCase="'noqueue'">
    <img src="assets/img/error.png" id="error" alt="error" />
    <h3> {{ "Appoint_NoQueueHeader" | translate }}</h3>
    <p>{{ "Appoint_NoQueueText" | translate }}</p>
    <p>{{ errorInfo }}</p>
  </ng-container>
  <ng-container *ngSwitchCase="'late'">
    <img src="assets/img/error.png" id="error" alt="error" />
    <h3> {{ "Appoint_LateHeader" | translate }}</h3>
    <p>{{ "Appoint_LateText" | translate: {date: aptDate | date: 'longDate':undefined:locale, time: aptDate | date: 'shortTime':undefined:locale} }}</p>
    <p>{{ errorInfo }}</p>
  </ng-container>
  <ng-container *ngSwitchCase="'qr'"> 
    <img src="assets/img/registration.png" id="registration" alt="registration"/>
    <h3>{{ "Appoint_TicketHeader" | translate }}</h3>
    <p>{{ "Appoint_TicketTextWScan" | translate }}</p>
    <figure class="left">
      <figcaption>{{ "Appoint_TicketPrint" | translate }}</figcaption>
      <a class="print-button" (click)="print()"></a>
    </figure>
    <figure class="right">
      <figcaption>{{ "Appoint_TicketScan" | translate }}</figcaption>
      <qrcode
        [qrdata]="getAppLink()"
        [margin]="0"
        colorLight="#d7d7d7"
        colorDark="#707173"
      ></qrcode>
    </figure>
  </ng-container>
</ng-container>
