html {
    font-family:Arial, Helvetica, Tahoma,sans-serif;
}

main, section {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
    padding: 20px;
}

/* main section styles */
h1 {
    text-transform: uppercase;
    text-align: center;
    color: rgb(6, 9, 184);
    font-size: 6.7vw;
    font-weight:bold;
    margin: 7vh 0 7vh 0;
}
h4 {
    text-align: center;
    color: rgb(6, 9, 184);
    font-size: 3.5vw;
    color: rgb(6, 9, 184);
    margin: 0 -50px 4vh -50px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 20px 0;
    padding: 0;
}

li>a.btn {
    display:block;
    text-transform: uppercase;
}
.buttons-1 li>a.btn {
    height: 9vh;
    line-height: 9vh;
}
.buttons-2 li>a.btn {
    height: 9vh;
    line-height: 9vh;
}
.buttons-3 li>a.btn {
    height: 9vh;
    line-height: 9vh;
}
.buttons-4 li>a.btn {
    height: 9vh;
    line-height: 9vh;
}
.buttons-5 li>a.btn {
    height: 9vh;
    line-height: 9vh;
}

.btn-primary {
    background-color: rgb(0, 127, 200);
    color: rgb(255, 255, 255);
    border:solid 5px rgb(0, 34, 124);
    box-shadow: 6px 6px 5px rgba(100,100,100,0.7);
    border-radius: 12px;
    margin: 5% 5% 3% 5%;
    padding: 0;
    box-sizing: content-box;
    font-size: 4.9vw;
}

.btn-primary:hover {
    background-color: rgb(0, 162, 255);
}


/* wait/take/show section styles */
section {
    padding: 10vw;
    color: rgb(6, 9, 184);
    text-align: center;
    font-size: 4vw;
}

#waitPopup p {
    font-size: 5em;
}

.number {
    font-size: 36vw;
    font-weight:bold;
    color: rgb(6, 9, 184);
    text-align: center;
    margin-top: -6vh;
}

.text1 {
    text-align: center;
    color: rgb(6, 9, 184);

    font-size: 4vw;
    margin: 4vh 0 3vh 0;
}

.text2 {
    text-align: center;
    color: rgb(6, 9, 184);
    font-size: 6.2vw;
    font-weight:bold;
    margin: 0 -3vh 2vh -3vh;
}

.text3 {
    text-align: center;
    color: rgb(6, 9, 184);
    font-size: 4vw;
    font-weight:normal;
    margin: 12vh 0 3vh 0;
}

.text4 {
    font-size: 5vw;
    margin: 4vh 0 0 0;
}

/*  Ticket  */

@media screen { 
    body>.print_ticket { display: none; }
}

@media print {
    body>* { display: none!important; }
    body>.print_ticket { display: inherit !important; } 
}

.ticket {
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: black;
}

.ticket header {
    font-size: 14px; 
    text-align: center;
    margin: -0px 0px -10px 0px; 

}

.ticket img {
    text-align: center;
     width: 80%; 
}

.ticket h1 {
    font-size: 75px;  
    font-weight:bold;
    text-align: center;
    margin: -5px 0px 0px 0px; 
    padding: 0;
    color: black;
}

.ticket footer {
    font-size: 14px;
    text-align: center;
    line-height:16px;
    margin: 0 15px 0 15px;
}
