@*
Printer main entry page
*@
<!DOCTYPE html>
@using System.Web.Optimization
@using Stolltec.Forms.Model
@{
  // Parse model
  var Model = new FormsModel(this);

  // setup layout
  PageData["model"] = Model;
  PageData["show_home"] = false;
  PageData["show_back"] = false;
  Layout = "PrinterLayout.cshtml";
}

<main class="site-content">
<h1>HERZLICH WILLKOMMEN!</h1>
</main>

<nav class="site-nav">
    <span class="termin"><a href='@Model.Navigate("P1_Appointment.cshtml")'><h4>Ich habe einen Termin</h4></a></span>
    <span class="ohnetermin"><a href='@Model.Navigate("P1_GetTicket.cshtml")'><h4>Heute ganz spontan</h4></a></span>
</nav>

<footer class="site-footer"></footer>
