@*
  Printer navigation level 1
  Get a ticket (no appointment)
*@
<!DOCTYPE html>
@using System.Web.Optimization
@using Stolltec.Forms.Model
@{
  // Parse model
  var Model = new FormsModel(this);

  // setup layout
  PageData["model"] = Model;
  PageData["show_home"] = true;
  PageData["show_back"] = false;
  Layout = "PrinterLayout.cshtml";
}
<main class="site-content">
 <div class="main">
    @* Display list when idle *@
    <div id="queuelist" data-content-src="@Model.Navigate("P1_GetTicket_List.cshtml")">
    </div>

    @* wait popup is shown, while generating a new number *@
    <section id="waitPopup" style="display: none;">
      <h1>SO GEHT‘S WEITER.</h1>
      <h2>Ziehen Sie ihr Ticket und machen Sie es sich auf dem Sofa bequem.<br>Wir sind ruckzuck für Sie da.</h2>
      <div>
      <img src="images/wait.gif" id="wait" alt="wait" />
      <p>Ihr Ticket wird gedruckt.</p>
    </section>

    @* take popup is shown, when the printout is ready *@
    <section id="takePopup" style="display: block;">
      <h1>SO GEHT‘S WEITER.</h1>
      <h2>Ziehen Sie ihr Ticket und machen Sie es sich auf dem Sofa bequem.<br>Wir sind ruckzuck für Sie da.</h2>
      <div>
        <img src="images/wait.gif" id="wait" alt="wait" />
      </div>
      <p>Ihr Ticket wird gedruckt.</p> 
    </section>

    @* show popup shows the number on the screen *@
    <section id="showPopup" style="display: none;">
      <h3>Sie werden angemeldet im Fachbereich</h3>
      <h2 data-name></h2>
      <p>Bitte merken Sie sich Ihre Anmeldenummer:</p>
      <div class="number" data-number></div>
      <p>Sie werden aufgerufen</p>
    </section>
  </div>
</main>

<script type="text/javascript">
  @*
    This script calls the number generation service
    and prints the number on the default printer.
    It shows the wait popup while waiting and printing.
    It shows the take popup when the printout is ready.
    It reports the printer status to the service.
   *@
  function hookupButtons() {
    $("a.btn").unbind()
    .click(function() {
      $("[data-name]").text($(this).data("label"));
    }).printTicket({
      legacy: false,
      printErrorTimeout: 60000,
      stripBody: false,
      beginPrint: function() {
        $("#waitPopup").show();
      },
      endPrint: function() {
        $("#waitPopup").hide();
        $("#takePopup").show();
        window.setTimeout(function() { $("#takePopup").hide(); }, 3000);
      },
      failPrint: function() {
        $("#waitPopup").hide();
      }
    });
  }

  $(document).ready(function() {
    @* report status of printer *@
    reportPrinterStatus({
      url: "@Href(Stolltec.Forms.PrinterStatus.Path)",
      interval: 60000
	  });

    @* update queue list periodically *@
    var queueList = $("#queuelist");
    var queueListUrl = queueList.data("content-src");
    var update = function () {
      try {
          $.ajax({
              url: queueListUrl,
              cache: false
          }).done(function (result) {
              queueList.html(result);
              hookupButtons();
          });
      }
      finally {
          window.setTimeout(update, 20000);
      }
    };
    window.setTimeout(update, 0);
  });
</script>
