<!DOCTYPE html>
@using System.Web.Optimization
@using Stolltec.Forms.Model
@using Stolltec.Vocatis
@using Stolltec.Vocatis.Model
@{
  // Parse model
  var Model = new FormsModel(this);
  var tracking_id = (string)Model.Style["tracking_id"].Value;
}
<h3>WORÜBER MÖCHTEN SIE HEUTE MIT UNS SPRECHEN?</h3>
<ul>
  @for (int i = 1; i <= 8; i++) {
    if (!String.IsNullOrEmpty((string)Model.Style["text" + i].Value)) {
      var queueid = Model.Style["queueid" + i].Value;
      <li>
        <a href='@Model.Navigate("PrinterTicket.cshtml", new { queueid=queueid, cat=Model.Style["catid" + i].Value })" data-label="@((string)Model.Style["text" + i].Value)'>
          @((string)Model.Style["text" + i].Value)
        </a>
      </li>
    }
  }
</ul>