@*
  Printer navigation level 1
  Get a ticket (no appointment)
*@
@using System.Web.Optimization
@using Stolltec.Forms.Model
@using iSign
@{
  // Parse model
  var Model = new FormsModel(this);

  // setup layout
  PageData["model"] = Model;
  PageData["show_home"] = true;
  PageData["show_back"] = false;
  Layout = "PrinterLayout.cshtml";

  var index = Request["index"];
  var tracking_id = (string)Model.Style["tracking_id"].Value;
  dynamic queueid = Model.Style["queueid" + index].Value;
  var catidI = Model.Style["catid" + index].Value as CommonGuidId[];
  string catids = catidI == null ? null : String.Join(",",catidI.Select(g=>g.ToString()).ToArray());
}

<div class="site-content">
  <h2>So geht's weiter</h2>
  <div class="left">
    <p>Ziehen Sie Ihr Ticket und machen Sie es sich auf dem Sofa bequem.</p> 
    <p>Ticket drucken</p>
  </div>
  <div class="right">
    <p>Mögen Sie es lieber papierlos? Einfach Ticket scannen und sehen, wann Sie dran sind.</p> 
    <p>Ticket scannen</p>  
  </div>
  <a class="print-button" href='@Model.Navigate("PrinterTicket.cshtml", new { index=index })'>&nbsp;</a>
  <div class="qrcode" data-url='@Href("AppTicket.cshtml", new { q=queueid, c=catids, t=tracking_id  })'></div>   
  <h6>Wir sind ruckzuck für Sie da.</h6>
</div>

@* wait popup is shown, while generating a new number *@
<section id="waitPopup" style="display:none;">
  <h4>SO GEHT‘S WEITER.</h4>
  <div class="Todo2">
  <p>Ziehen Sie Ihr Ticket und machen Sie es sich auf dem Sofa bequem.</p><p>Wir sind ruckzuck für Sie da!</p>
  </div>
  <img src="images/wait.gif" id="wait" alt="wait" />
  <h6>Ihr Ticket wird gedruckt.</h6>
</section>

<script type="text/javascript">
  @*
    This script calls the number generation service
    and prints the number on the default printer.
    It shows the wait popup while waiting and printing.
    It shows the take popup when the printout is ready.
    It reports the printer status to the service.
   *@
  function hookupButtons() {
    $(".print-button").unbind()
    .printTicket({
      legacy: false,
      printErrorTimeout: 60000,
      stripBody: false,
      beginPrint: function() {
        $("#waitPopup").show();
      },
      failPrint: function() {
        $("#waitPopup").hide();
      }
    });

    $(".qrcode").each(function() {
      var url = $(this).data("url");
      if (url) {
          // make absolute
          var a = document.createElement("a");
          a.href = url;
          url = a.href;
      }
      $(this).qrcode({text: url});
    });
  }

  $(document).ready(function() {
    @* report status of printer *@
    reportPrinterStatus({
      url: "@Href(Stolltec.Forms.PrinterStatus.Path)",
      interval: 60000
	  });
    hookupButtons();
  });
</script>
