@import "colors.scss";
@import "mixins.scss";

section {
  @include panel;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
svg {
  width: 30%;
  align-self: center;
  fill: $color-secondary-foreground;
}
h1 {
  font-size: 3em;
  line-height: 4rem;
  font-weight: bold;
}

nav {
  display: flex;
  margin: 5vh 15vw;

  a {
    flex: 1;
    text-align: center;

    @include nav-button;
  }
}
