
/*
 * Main style file for app
 */
@import "colors.scss";


/* overwrite defaults */
html, body, h2, h3, article, h4
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* global layout */
html, body
{
    background-color: $color-common-background;
    color: $color-common-foreground;
    font-family: Frutiger-vr, Verdana, "Lucida Sans Unicode", sans-serif;

    @media (orientation: landscape)
    {
        font-size: 2.5vw;
    }
    @media (orientation: portrait)
    {
        font-size: 4vw;
    }
}

header
{
    background-color: $color-primary-foreground;
    color:$color-primary-background;

    .plattformlogo
    {
        position: absolute;
    }


    h1
    {
        position: absolute;
        font-size: 1em;
    }

    

    @media (orientation: landscape)
    {
        height: 12vh;
        width: 100%;
        
        .plattformlogo
        { 
            width: auto;
            height: 5vh;
            margin: 4vh 0 0 10vw;
        }

        h1
        {
            position: absolute;
            font-size: 0.65 em;
            margin: 4vh 0 0 30vw;
            max-width: 70%;
        }

        h2
        {
            padding: 1vh 0 1vh 10vw;
            font-size: 1em;
            color:red;
        }
    }

    @media (orientation: portrait)
    {
        height: 13vh;

        .plattformlogo
        { 
            width: 22%;
            margin: 8vh 0 0 5vw;
        }

        h1
        {
            margin: 8vh 0vw 0 30vw;
        }
        
    }
}

#error
{
    margin: 0vh 15vw;
    height: 50vh;
    background-color:$color-highlight-background;
    color: $color-primary-foreground;

    h2
    {
        text-align: center;
        font-size: 1.25rem;
        font-weight: bold;
        padding: 8vh 2vw;  
    }

    p
    {
        text-align: center;
        font-size: 0.75rem;
        padding: 3vh 2vw; 
    }

    #three
    {
        text-align: center;
        font-size: 0.5rem;
        font-weight: bold;
        padding: 5vh 2vw; 
    } 
}

section.content
{
    position: relative;
    max-height: 60vh;
    background-color:$color-primary-background;
    
    @media (orientation: landscape)
    {
        max-height: 50vh; 
    }
   
    article
    {
        color:$color-primary-foreground;
        padding: 8vh 0 3vh 10vw;
        font-size: 0.8em;
        font-weight: bold;
        width: 80%;

        p
        {
            font-size: 1.2em;
            font-weight: bold;
            color:white;
            padding: 0;
            margin: 0;

            @media (orientation: landscape)
            {
                font-size: 0.75em;  
            }
        }


        /* personenanzahl */
        svg
         {
            width: 25%;
            max-height: 19vh;
            padding: 5vh 25vw 0 33vw;
            .cls-1{fill:$color-primary-foreground;opacity: 0.25;}
            .cls-2{font-size:0.75em; fill:$color-primary-foreground;}
         }

        #three
        {
            font-size: 0.35rem;
            margin-top: 3vh;   
        }
    }
    

    div.number
    {
        color: red; 
        margin: 8vh 0 0 0;
        width: 90vw;
        height: 4vh;
        display: flex;

        @media (orientation: landscape)
        {
            height: 7vh; 
            margin: 5vh 0 0 0; 
        }
     

        h3.flex-item1 

        {  
        background-color:$color-primary-foreground;
        opacity: 0.25;
        font-size: 0.85em;
        padding: 1vh 0 1vh 10vw;
        width: 30vw;
          
            @media (orientation: landscape)
            {
                font-size: 0.65em;  
            }
        }
       
        h4.flex-item2 
        {
            background-color:$color-primary-foreground;
            opacity: 0.25;
            font-size: 1em;
            margin:0;
            padding: 1vh 0 1vh 0;
            width: 15vw;
            text-align: center;

            @media (orientation: landscape)
            {
                font-size: 0.75em;  
            }
        }
        

        p.flex-item3 
        {
            margin:0;
            font-size: 0.65em;
            padding: 1vh 0vw 1vh 5vw;
            color:$color-primary-foreground;


        }

        .no 
        {
            flex-wrap: nowrap;
        }

    }


}

section.room
{
    article
    {
        padding: 8vh 0 3vh 10vw;
   

        p
        {
            font-size: 1.2em;
            font-weight: bold;
            color:white;
            padding: 2vh 0 2vh 0;
            margin: 0;

            @media (orientation: landscape)
            {
                font-size: 0.60em;  
            }
        }

        #place
        {
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: bold;
            padding: 2vh 0vw 2vh 0vw;

            @media (orientation: landscape)
            {
                font-size: 1.3em;  
            }
        }
    
        #bold
        {
            font-weight: bold;
        }
    }
      
}

.Todo
{
    margin:0;
    padding: 4vh 0 0 0vw;
    top: 20vh;

    p
    {
        font-size: 1em;
        font-weight: bold;
        color:$color-secondary-background;
        padding: 0 0 0 10vw;
        width: 80%;
        margin: 0;
    } 

    @media (orientation: landscape)
    {
        font-size: 0.65em;  
    }
}

     
/* fehlermeldung */
#error
{
    background-color: $color-highlight-background;
    width: 100%;
    margin:0;

}
