
/* All colors defined here */
$color-primary-background: #002d67;
$color-primary-shadowred:#5c6e9a;
$color-primary-foreground: white;
$color-secondary-background:#eb6608;
$color-secondary-foreground:#707173;
$color-secondary-shadow: #c3c3c3;
$color-primary-shadow:  #53668D;
$color-highlight-background: red;
$color-highlight-foreground: white;
$color-common-background: $color-primary-foreground;
$color-common-foreground: $color-primary-background;
$color-font-shadow:#707173e0;

