
/*
 * Main style file for app
 */
 @import "colors.scss";



 .platzhalter
 {  
    margin:0;
    float: right;
    width: 40%;
    height: 80%;
 }

body.list
{
    position: absolute;
    height:100%;
    width: 100%;
    margin:0;
   

    #content 
    {   
        background-color:$color-primary-background;
        width: 60%;
        height: 100%;
        float: left;

        h2
        {
            font-size: 3em;
            padding: 16vh 0 0 10vw;
            color:$color-primary-foreground;
            font-family:Arial, Verdana, Geneva,Tahoma,sans-serif;

        } 
        table #list
        {
            display: block;

            tbody
            {
        

                td.room
                {
                    background-color: red;
                    width: 20%;
                    height: 8vh;  
                }

            }
        }
    }  
    

}


   




