
/*
 * Main style file for app
 */
 @import "colors.scss";


body.list
{
    background-color: $color-primary-background;
    font-family: Arial, Verdana, Geneva,Tahoma,sans-serif;
    margin: 0;

    h2
    {
        font-size: 3em;
        padding: 16vh 0 0 10vw;
        color:$color-primary-foreground;
    } 

    table
    {
        width: 60%;
        height: 8vh;
        font-size: 3em;
        margin: 5vh 0 0 0vw;
        color: white;
     

        td:first-child 
        {
            color: transparent;
        }
        tr:first-child
        {
            background-color:$color-primary-foreground;
            font-weight: bold;
            color: $color-primary-background;
        

                td:last-child
                {
                    background-color: $color-secondary-background;
                    font-weight: bold;
                    color: $color-primary-foreground;
                }
                td:first-child
                {
                    color: inherit;
                }
        }
    } 
}


   




