
body.printer 
{  

    header
    {
        display: block;
        background-color: $color-primary-foreground;
        height: 12vh;
      
        
        .home
        {
            width: 7%;
            margin: 3vh 10vw 0vh 0vw;
            float:right;
            border: 10px solid $color-primary-foreground;
            padding:3vw;
        }

        .plattformlogo 
        { 
            height: 40%;
            width: auto;
            margin: 3vh 10vw 0vh 10vw;
        
        }

        .back
        {
            height: 40%;
            float:right;
            margin: 1.5vh 10vw 0 0;
            border: 10px solid white;
            padding:3vw;
        }
    }  
    
    
    h1 
    {
        text-transform: uppercase;
        font-size: 5em;
        padding: 12vh 0 0 10vw;
        color:$color-highlight-foreground;
        margin:0;
    } 

    h2 
    {
        font-size: 2.9em;
        padding: 8vh 0 0 10vw;
        color:$color-highlight-foreground;
        top: 40vh;
        width: 80%;
        
    } 
 
    h3 
    {
        font-size: 2.5em;
        padding: 12vh 0 0 10vw;
        color:$color-highlight-foreground;
        top: 40vh;
        width: 80%;
        margin:0;
    } 


    h5 
    {
        font-size: 2.5em;
        padding: 4vh 0 0 10vw;
        color:$color-highlight-foreground;
        width: 80%;
        margin:0;
    } 

    h6
    {
        font-size: 3em;
        font-weight: bold;
        color:$color-secondary-background;
        padding: 20vh 0 0 10vw;
        width: 80%;
        margin: 0;
    } 

    .list-button
    {
        background-color: $color-primary-shadowred;
        color: $color-highlight-foreground;
        text-align: left;
        font-size: 2.5em;
        font-weight: bold;
        box-sizing: border-box;
        padding-left: 2vw;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .list-button:hover, input:checked + label.list-button
    {
        background-color: $color-highlight-foreground;
        color: black; 
    }

    div.site-content 
    {
        background-color:$color-primary-background;
        height: 60vh; 
        width: 100%;
        position: relative;

        section #waitPopup
        {

            background-color:$color-primary-background;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0; 
        }        
        #wait
        {
            width: 10vw;
            margin: 0 20vh 0 43vw;
        }         
    }   

    .Todo, .Todo2
    {
        margin:0;
        padding: 4vh 0 0 0vw;
        top: 20vh;
    
        p
        {
            font-size: 3em;
            font-weight: bold;
            color:$color-primary-foreground;
            padding: 2vh 0 0 10vw;
            width: 80%;
            margin: 0;
        } 
    }

    input#txtFind
    {
        margin: 3vh 0 0 10vw;
        font-size: 2.5em;
        font-weight: bold;
        width: 75%;
        height: 5vh;
        padding-left: 5vw;
    }

    .flex-container  
    {
        display: flex;
        flex-wrap: wrap;
        
        .list-button
        {
            display: block;
            width: 37.5vw;
            margin: 2vh 0 0 5vw;
            height: 6vh;
            line-height: 6vh;
        }        
    }

    ul
    {
        list-style:none;
        padding: 0 0 0 5vw;
        margin: 0;
    }

    input[name="ap"]
    {
        display: none;
    }

    #btnOK2
    { 
        display: block;
        font-size: 4em;
        color:black;
        padding: 0.5vh 1.5vw 0.5vh 1.5vw;
        border: 3px solid $color-primary-background;
        border-radius: 8px;
        background-color: $color-highlight-foreground;
        float: right;
        margin: 25vh 10vw 0;

        &:hover
        {
            background-color: $color-primary-background;
            color:$color-highlight-foreground;
        }
    }   
    

    fieldset
    {
        border: 0px;
        margin: 0;
        padding: 0;

        #keyboard
        {
            height: 20vh;
            width: auto;
            padding-top: 2vh;
            font-size: 2em;
            text-align: center; 
            color:black; 
            
            
            .tasten
            {
                padding: 1vh 2vw 1vh 2vw; 

                a
                {
                    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
                    border: 2px solid $color-primary-background;
                    border-radius: 8px;
                    font-size: 0.8em;
                    display: inline-block;
                    width: 2em;

                } 
                a:hover
                {
                    background-color: $color-primary-background;
                    color: $color-highlight-foreground;
                }
            } 

            .sonderzeichen 
            {
                margin-top: 1vh;
                a
                {   padding: 0.5vh 1.5vw 0.5vh 1.5vw;
                    border: 2px solid $color-primary-background;
                    border-radius: 8px;
                }

                a:hover
                {
                    background-color: $color-primary-background;
                    color:$color-highlight-foreground;
                }

                #btnOK
                {
                    font-size: 1em;
                    color:black;
                    padding: 0.5vh 1.5vw 0.5vh 1.5vw;
                    border: 2px solid $color-primary-background;
                    border-radius: 8px;
                    background-color: $color-highlight-foreground;

                }

                #btnOK:hover
                {
                    background-color: $color-primary-background;
                    color:$color-highlight-foreground;
                }
            }
        }
    }
     

   .site-nav
   {
        margin: 10vw;

        a
        {
            text-align: left;
            border: 3px solid $color-secondary-background;
            width: 30vw; 
            background-color: $color-primary-foreground;
            color: $color-secondary-background;
            padding: 2vh 0.5vw 2vh 0.5vw;
            
        }
        

        a:hover
        {
            background-color: $color-secondary-background;
            color: $color-primary-foreground;
            
        }


        a:first-child
        {   
            float: left;
            font-size: 2.5em;
            padding-left: 2vw;
           
            
        }

        a:last-child
        { 
            float: right;
            font-size: 2.5em;
            padding-left: 2vw;
        }   
          
    }
}  
