
body.printer 
{
       
       header
    {
        display: block;
        background-color: white;
        height: 16vh;
      
        
        svg
        {
            height: 20vh;
        }

        .plattformlogo 
        { 
            height: 30%;
            width: auto;
            margin: 5vh 0vw 0vh 10vw;
        
        }
    }    
    
    h1 
    {
        
        text-transform: uppercase;
        font-size: 6em;
        padding: 20vh 0 0 10vw;
        color:$color-highlight-foreground;
        position:absolute; 
    } 

    h4
    {
        font-size: 1.5em;
    }


    main 
    {
        background-color:$color-primary-background;
        height: 60vh; 
        width: 100%; 
        position: relative;

    }

   nav.site-nav 
   {
        margin: 10vw;

        
        span 
        {
            text-align: center;
            border: solid;
            border-color: $color-secondary-background;
            border-width: 3px;
            width: 30vw; 
            background-color: $color-primary-foreground;
            
        }

        span a
        {
            width: 200vh;
            color: $color-secondary-background;
        } 

        /*span.active
        {
            color: green;
        }*/

        span:hover:not(.active)
        {
            background-color: $color-secondary-background;

            h4
            {
                color: white;
            }
        }


        .termin
        {   
            float: left;
        }

        .ohnetermin
        { 
            float: right;
        } 
        
          
    }

    
}

