
body.printer 
{
    position: absolute;
    background-color:$color-primary-background;
    height: 90vh; 
    width: 100%;      
    
    h1 
    {
        
        text-transform: uppercase;
        font-size: 6em;
        margin: 20vh 0 0 10vw;
        color: white;
    } 

    h4
    {
        font-size: 1.5em;
        color: $color-primary-background;
    }    

    header
    {
        display: block;
        height: 16vh;
        background-color: white;
      
        
        svg
        {
            height: 20vh;
        }

        .plattformlogo 
        { 
            height: 25%;
            width: auto;
            margin: 5vh 0vw 4vh 10vw;
        
        }

        clear: both;
        display: block;
    }

    ul
    {
        li
        {
            position: relative;
            text-align: center;
            border: solid;
            background-color: white;
            border-color: $color-primary-background;
            border-width: 2px;
            width: 25vw;
            margin-top: 50vh;
            
                .termin
                {
                    margin-left:10vw;
                }

                .ohnetermin
                {
                    margin-right: 10vw;
                }
            
        }
    }

    footer
    {
        position: fixed;
        bottom: 0mm;
        right: 0;
        left: 0; 
    }
}

