

/* 
 * ticket should be hidden, on screen,
 * but when print out it's the only content visible
 */
   
@media screen
{ 
    body>.print_ticket { display: none; }
}

@media print
{
    body>*:not(.print_ticket) { display: none !important; }
}


section.ticket 
{   
    display: block;
    /* paper: 58mm, paper-margin 5mm */
    width: 48mm;
    margin: 5mm;

    background-color:white;
    color: black;




        
    header
    {
        text-align: center;
        font-size: 12px;
        line-height: 13px;
    }

    h1
    {
        text-align: center;
        font-size: 40px;
        color: #000;
        margin: 0;
    }

    img
    {
        width: 100%;
    }

    h4
    {
        text-transform: uppercase;
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        font-weight: bold;
        margin-bottom: 0px;
    }
    h5
    {
        text-align: center;
        font-size: 12px;
        line-height: 13px;
        font-weight: bold;
        margin-top: 2px;
    }        
    
    h6
    {
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        margin: 5px 0 0 0;
        color:black;
    }

        
    p
    {
        text-align: center;
        font-size: 12px;
        margin-top:5px;
    }

    section.qrcode
    {
        color:black;
        margin:0px;
        padding:0px;
        text-align: center;
    }

    canvas
    {
        width: 23mm; 
    }
  
    footer
    {   text-align: center;
        font-size: 12px;

    }
}

    



